<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.1>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.1'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.1/doDelete method=POST>
<input type=submit value='Delete CH4.fake.1'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.2>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.2'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.2/doDelete method=POST>
<input type=submit value='Delete CH4.fake.2'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.3>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.3'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.3/doDelete method=POST>
<input type=submit value='Delete CH4.fake.3'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.4>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.4'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.4/doDelete method=POST>
<input type=submit value='Delete CH4.fake.4'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.5>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.5'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.5/doDelete method=POST>
<input type=submit value='Delete CH4.fake.5'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.6>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.6'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.6/doDelete method=POST>
<input type=submit value='Delete CH4.fake.6'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.7>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.7'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.7/doDelete method=POST>
<input type=submit value='Delete CH4.fake.7'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.8>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.8'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.8/doDelete method=POST>
<input type=submit value='Delete CH4.fake.8'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.9>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.9'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.9/doDelete method=POST>
<input type=submit value='Delete CH4.fake.9'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.10>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.10'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.10/doDelete method=POST>
<input type=submit value='Delete CH4.fake.10'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.11>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.11'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.11/doDelete method=POST>
<input type=submit value='Delete CH4.fake.11'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.12>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.12'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.12/doDelete method=POST>
<input type=submit value='Delete CH4.fake.12'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.13>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.13'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.13/doDelete method=POST>
<input type=submit value='Delete CH4.fake.13'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.14>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.14'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.14/doDelete method=POST>
<input type=submit value='Delete CH4.fake.14'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.15>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.15'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.15/doDelete method=POST>
<input type=submit value='Delete CH4.fake.15'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.16>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.16'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.16/doDelete method=POST>
<input type=submit value='Delete CH4.fake.16'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.17>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.17'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.17/doDelete method=POST>
<input type=submit value='Delete CH4.fake.17'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.18>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.18'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.18/doDelete method=POST>
<input type=submit value='Delete CH4.fake.18'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.19>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.19'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.19/doDelete method=POST>
<input type=submit value='Delete CH4.fake.19'>
</form><br>
<form action=http://localhost:8080/createItem?mode=copy method=POST>
<input type=text name=name value=CH4.fake.20>
<input type=text name=from value=Template1 >
<input type=submit value='Create CH4.fake.20'>
</form><br>
<form action=http://localhost:8080/job/CH4.fake.20/doDelete method=POST>
<input type=submit value='Delete CH4.fake.20'>
</form><br>
